@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

@font-face
{
font-family: Lekton;
src: url('./../public/fonts/Lekton-Regular.ttf'),
}
.albumPageGenCont{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Antic Slab', serif;
    /* background-color: rgb(117, 110, 110); */
}

.backBtn{
    text-align: end;
    text-transform: uppercase;
    font-size: 2em;
    padding-right: 6px;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    cursor: pointer;
    transition: all ease-in 2s;
}

.backBtn:hover{
    background-color: black;
    color: white;
}

.albumGeneralCont{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.songPickerCont{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.eachAlbumSong{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    margin-top: 33px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 2em;
}

.albumCoverPic{
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.211);
    height: fit-content;
}

.playerGenCont{
    margin-top: 21px;
    height: fit-content;
    display: flex;
    /* border: solid 4px black; */
    flex-direction: row;
    align-items: center;
    width: fit-content;
    font-family: 'Antic Slab', serif;
    /* background-color: whitesmoke; */
}

.socialMediaLinks{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    margin: 21px;
}

.songCover{
    background-color: white;
    width: 450px;
    height: 450px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.435);
}

.songAdditiinals{
    margin: 21px;
    height: 450px;
}

.songNumber{
    font-size: 3em;
    text-align: end;
}

.songTitle{
    /* font-family: Lekton; */
    font-size: 4em;
    text-transform: uppercase;
    margin-top: 180px;


}

.songAlbum{
    font-size: 1.5em;
}

.MusiciansCreditBox{
    font-family: 'Antic Slab', serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 120px;
    /* min-height: 70vh; */
}
.Artiststitle{
    text-align: center;
    font-family: 'Antic Slab', serif;
    text-transform: uppercase;
    font-size: 2em;
}

.musiciansList{
    text-align: end;
    font-size: 1.5em;
}

.musiciansRole{
    margin-left: 40px;
    font-size: 1.5em;
}

.BugOne{
    margin-top: 150px;
    transform: rotate(90deg)
}

@media (max-width: 1200px) {



}
